/*---Global---*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
/*Multilpy rem value by 10*/
html{
  font-size: 10px;
  font-weight: 100;
}

body{
  background-color: #FFFBEB;
}

h1, li{
  font-size: 4rem
}

h2{
  font-size: 3.5rem
}

h3{
  font-size: 3rem
}

p{
  font-size: 2.5rem;
}

a{
  color: black;
  text-decoration: none;
}
.container{
  /*height: 100vh;*/
  margin: 0 auto;
  width: 90%
}
/*---Nav---*/
.nav{
  display: flex;
  align-items: center;
  height: 100px;
}

.title, .navButtons{
  flex: 1;
}

.navButtons{
  text-align: right;
}

.navButtons a, .title{
  display: inline-block;
  vertical-align: middle;
}

.navButtons a{
  margin-left: 40px;
  text-decoration: none;
}

/*---Landing---*/
.contentcontainer{
  width: 85%;
  margin: 0 auto;
}

.cranelogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 100px;
}

.intro, .branding{
  text-align: center;
  margin-bottom: 10rem;
}

.solution{
  float: right;
}

.landingWrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.process{
  text-align: center;
  margin-bottom: 10rem;
}

.discoveryResearch{
  text-align: center;
  margin-bottom: 5rem;
}

.personas{
  text-align: center;
  margin-bottom: 10rem
}
.personaimg{
  width: 30%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.sketches{
  text-align: center;
  margin-bottom: 10rem
}
.sketchimg{
  width: 20%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.sketchimga{
  width: 40%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.siteMap{
  margin-bottom: 20rem;
}

.logoboard{
  text-align: center;
  margin-bottom: 10rem;
}

.logos{
  width: 50%;
  height: auto;
}

.figLink{
  color: #B42451;
}

.conclusion{
  text-align: center;
  margin-bottom: 10rem
}

.phoneScreen{
  width: 40%;
}

.phone{
  text-align: center;
  margin-bottom: 10rem
}

/*---Footer---*/
.footer{
  position: fixed;
  left: 0;
  bottom: 0rem;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #FFFBEB;
}

/* Small devices (portrait tablets and large phones, 800px and up)*/
@media screen and (max-width: 800px) {


  .landingWrapper{
    display: none;
  }

  li{
    padding-bottom: .5rem;
    text-align: center;
  }

  ul{
    margin-bottom: 6rem;
    list-style: none;
  }

  .intro{
    margin: 0 auto;
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 800px and up) */
@media screen and (min-width: 800px) {

  .mediumtitle{
    float: left;
    padding-right: 10rem;
  }

  .mobileLandingWrapper{
    display: none;
  }

  .mobileHeader{
    display: none;
  }

  li{
    padding-bottom: .5rem;
    text-align: center;
    display: inline;
  }

  ul{
    margin-bottom: 6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

  .mobileLandingWrapper{
    display: none;
  }

  .mobileHeader{
    display: none;
  }

}
